<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <body>
    <h1>Handlebars Example</h1>
        <ul class="people_list">
			{{#each ["one","two", "three"]}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
    </body>
</html>
